name: Build

on:
  push:
    branches-ignore: main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
      with:
        # Use PAT, otherwise pushes from this job do not trigger other workflows => dependabot-automerge.yml: https://github.com/peter-evans/create-pull-request/issues/48
        token: ${{ secrets.GH_PAT }}

    - run: composer v --strict

    - name: Update PHP dependencies
      run: |
        composer i -n --no-progress --dry-run 2>&1 | grep -q '^Nothing to install, update or remove$' && exit 0
        rm -R vendor
        composer i -n --no-progress

    - run: npm i -D

    - run: npx mix --production -- --stats-children

    - name: Commit diff
      run: |
        git diff --exit-code && exit 0
        git config user.name 'github-actions[bot]'
        git config user.email 'github-actions[bot]@users.noreply.github.com'
        git add -A
        git commit -m 'Rebuilt PHP dependencies and Laravel Mix'
        git push
