name: PHP Composer
on: [pull_request, push]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  composer:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.owner.login != github.event.pull_request.base.repo.owner.login
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6

    - run: composer v --strict

    - uses: actions/cache@v4
      id: composer-cache
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - run: composer i -n --no-progress

    # Add a test script to composer.json, for instance: "test": "vendor/bin/phpunit"
    # Docs: https://getcomposer.org/doc/articles/scripts.md

    # - name: Run test suite
    #   run: composer run-script test

    # - name: Download and run PHP_CodeSniffer
    #   run: |
    #     curl -sSfLO 'https://squizlabs.github.io/PHP_CodeSniffer/phpcs.phar'
    #     php phpcs.phar --ignore='*/vendor/*,*/cache/*' .

    # - name: Download and run PHP Code Beautifier and Fixer
    #   run: |
    #     curl -sSfLO 'https://squizlabs.github.io/PHP_CodeSniffer/phpcbf.phar'
    #     php phpcbf.phar --ignore='*/vendor/*,*/cache/*' .
